## General build artifacts
*.o
*.obj
*.exe
*.db
bin/*
build/*
packages/*
Tadaima/Deploy/Debug
Tadaima/Deploy/Release
## Visual Studio artifacts
.vs
ipch
*.opensdf
*.log
*.ilk
*.user
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb
*.idb

## Visual Studio Lint
.visuallint/*
*.lnt